<mat-toolbar color = "primary">
    <a routerLink="/" RouterLinkActive="active">{{appname}}</a>
    <span class="fill-remaining-space"></span>
    <a routerLink="/practicas" RouterLinkActive="active"><button mat-button>Ver Todas las Practicas</button></a>
    <a routerLink="/perfil" RouterLinkActive="active" *ngIf="authSvc.userData$ | async"><button mat-button>Perfil</button></a>    
    
    <a *ngIf="authSvc.userData$ | async; else showLogin" (click) = "onLogout()" ><button mat-button>Salir</button></a>
    <ng-template #showLogin>
        <a routerLink="/IniciarSession" RouterLinkActive="active"><button mat-button>Login</button></a>
    </ng-template>
</mat-toolbar>